<h2>
    {{league.name || 'League'}}
</h2>
<div class='row'>
    <div class='col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Manager's note
            </div>
            <div class='panel-body'>
                <div ng-bind='manager_note'></div>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Recent activity
            </div>
            <table id='actions-table' class='table table-condensed'>
                <tr ng-repeat='action in actions'>
                    <td>
                        <span class='action-icon action-icon-{{action.type}}'></span>
                        {{action.desc}}
                        <span class='pull-right small text-muted'>
                            {{action.date}} {{action.time}}
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Standings
            </div>
            <table ng-repeat='(divname, division) in divisions' class='table table-condensed'>
                <tr>
                    <th>
                        {{divname}}
                    </th>
                </tr>
                <tr ng-repeat='team in division'>
                    <td>
                        <a ng-href='leagues/{{leagueId}}/teams/{{team.id}}'>
                            {{team.name}}
                        </a>
                    </td>
                    <td>
                        ({{team.wins}}-{{team.losses}})
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
