<h2>
    {{league.name || 'League'}}
</h2>
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Manager's note
            </div>
            <div class='panel-body'>
                <div ng-bind='manager_note'></div>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-lg-6'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Recent activity
            </div>
            <div class='panel-body'>
                <div ng-repeat='action in actions'>
                    <span class='pull-right small text-muted'>
                        {{action.date}} {{action.time}}
                    </span>
                    <span class='action-icon action-icon-{{action.type}}'></span>
                    {{action.desc}}
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-6'>
        <div class='row'>
            <div class='col-sm-6'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        Standings
                    </div>
                    <div class='panel-body'>
                        <strong ng-repeat-start='(divname, division) in divisions'>
                            {{divname}}
                        </strong>
                        <ul ng-repeat-end class='list-unstyled'>
                            <li ng-repeat='team in division'>
                                <a ng-href='leagues/{{leagueId}}/teams/{{team.id}}'>
                                    {{team.name}}
                                </a>
                                <span class='pull-right'>
                                    ({{team.wins}}-{{team.losses}})
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        Scores
                    </div>
                    <div class='panel-body'>
                        <div ng-repeat='matchup in matchups' class='well well-sm'>
                            <div ng-repeat='side in matchup'>
                                {{side.team.name}}
                                <small class='text-muted' style='display: inline-block;'>
                                    {{side.team.record}}
                                </small>
                                <span class='pull-right'>
                                    <strong>
                                        {{side.score}}
                                    </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
